@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Acme');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Poppins Mono', 'Cascadia Mono',
    'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace',
    'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 51, 0, 58;
    --background-start-rgb: 51, 0, 58;
    --background-end-rgb: 51, 0, 58;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

/* .text-shs{
  color: white;
  -webkit-text-fill-color: #FA1B5A; 
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}; */

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

@layer base {
  html {
    font-family: Poppins, sans-serif;
  }
}

@layer components {
  .size-selector input:checked+label {
    @apply bg-primary text-white;
  }
}

@layer components {
  .color-selector input:checked+label {
    @apply ring-2 ring-primary;
  }
}

/* Price Range */
input[type='range']::-webkit-slider-thumb {
  pointer-events: auto;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-appearance: none;
  @apply bg-primary;

  /* @apply w-6 h-6 appearance-none pointer-events-auto; */
}

/* Price Range */
input[type='text']::focus {
  outline: 0;

  /* @apply w-6 h-6 appearance-none pointer-events-auto; */
}

/* @layer components{
  .rounded-20px {
    @apply rounded-20px{
      border-radius: 0px;
    }
  }
} */